html {
    scroll-behavior: smooth;
}

/* ANIMATED LIST-POINT IN FRAME-MENU */
@keyframes list-point-animation {
    from {
        background-color: gray;
        width: 2px;
    }
    to {
        background-color: white;
        width: 30px;
    }
}

#list-point {
    height: 2px;
    animation-name: list-point-animation;
    animation-duration: 0.35s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}