html {
    scroll-behavior: smooth;
}

@keyframes list-point-animation-add {
    from {
        background-color: gray;
        width: 2px;
    }
    to {
        background-color: white;
        width: 30px;
    }
}

@keyframes list-point-animation-del {
    from {
        background-color: rgba(255, 255, 255, 0.5);
        width: 30px;
    }
    to {
        background-color: rgba(255, 255, 255, 1);
        width: 2px;
    }
}

#list-point {
    height: 2px;
    background-color: gray;
    width: 2px;
}

.list-point-add {
    height: 2px;
    animation-name: list-point-animation-add;
    animation-duration: 0.15s;
    animation-timing-function: linear;
    animation-fill-mode: both
}

.list-point-del {
    height: 2px;
    animation-name: list-point-animation-del;
    animation-duration: 0.15s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.color-white {
    color: rgba(255, 255, 255, 1);
}

.color-gray {
    color: rgba(255, 255, 255, 0.5);
}

.text-img {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1em;
}

.num-img {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1.1em;
    transform: perspective(1200px);
}

.img-hover {
    transform: scaleX(1);
}

.img-not {
    transform: scaleX(0.96);
}

.opacity-full {
    opacity: 1;
}

.opacity-mid {
    opacity: 0.45;
}
